@charset "UTF-8";

* {
	box-sizing: border-box;
}

img {
	display:block;
	width: 100%;
	}

.card {
	margin: 0 auto;
	width: 50%;
	position: relative;
	overflow:hidden;
	animation: slide-up 2000ms linear;
	-webkit-animation: slide-up 2000ms linear;
}

.card__text {
	background-color: rgba(0,0,0,.3);
	color: #fff;
	position: absolute;
	bottom: -3.125em;
	padding: 1em;
	width: 100%;
	transition: all 200ms linear;
	opacity: 0;
}

.card:hover .card__text {
	bottom: 0;
	opacity: 1;
}

@keyframes slide-up {
	0% {
		top: 10em;
	}
	
	50% {
		top: 3.5em;
	}
	
	100% {
		top: 0em;
	}
}

@-webkit-keyframes slide-up {
	0% {
		top: 10em;
	}
	
	50% {
		top: 3.5em;
	}
	
	100% {
		top: 0em;
	}
}